
<div class="text-center">
	
	<%= image_tag "logo_med.png", class: "img-fluid mt-5" %>
	<h2 class="h3 text-muted mt-5 mb-4">Using the latest technology to connect you and your customers together</h2>
	<p class="lead text-center">A unique advertising application utilising real time proximty-based messages to inform potential customers of special offers and other essential information about your business.  Connect your business directly with people via their smart device as they walk past. The information sent to a device can be personalised and consist of a welcome message; details of special offers and a link to your website or our own special web builder site that you can configure with images and text to suit your needs.  As the user walks away from your place of business they will 
		recieve a goodbye message which can also be personalised. Should a user miss the messages at the time, they are all saved to their device to be viewed 
		later so no offers go unnoticed.</p>
		<h2 class="h3 text-muted mt-5 mb-4">Coming soon</h2>
	</div>

<!-- <p class="lead text-center">A unique advertising application utilising real time proximty-based messages to inform potential customers of special offers and other essential
information about your business.  Connect your business directly with people via their smart device as they walk past. The information sent to a device can be personalised and consist of a welcome message; details of special offers and a link to your website or our own special web builder site that you can configure with images and text to suit your needs.  As the user walks away from your place of business they will 
recieve a goodbye message which can also be personalised. Should a user miss the messages at the time, they are all saved to their device to be viewed 
later so no offers go unnoticed.</p>

<h2 class="mb-4">Features</h2>
<div class="mb-4">
	<h3>Attendee Management</h3>
	<p>Using the Bluetooth and NFC capabilities of Notify you can streamline attendee management, letting you track how many people are currently present, the location of attendees, and provide paperless attendee check-in. Notify beacons can detect attendees within a range of 70 to 450 meters depending on the beacons used on site.</p>  
	<p>Instead of using check-in lists, computers, and a fully manned check-in kiosk, guests that attend can now be prompted using the Bluetooth on their phone utilising the Notify App to sign in to the event, saving your event staff time and providing you a real-time tally of who is in attendance and just how many showed up.</p>
	<p>Also by moving to a digital and paperless attendance scheme event organisers can save considerable costs.  A leading fitness company “Beachbody” that switched to paperless handouts saved over £29,000 in one single event.</p>
</div>
<div class="mb-4">
	<h3>Promotion and Navigation</h3>
	<p>Exhibitors can be hard to find due to the size of an event or venue. And it is even harder to find specific exhibitor at an event if you don’t know where they are or that they even exist.</p>
	<p>Navigation is important, especially for large venues, and Notify solves this problem using indoor positioning systems which show your current location on our specially created App on your Smartphone as well as the location of the Exhibitor or Session you’re trying to find.</p>
	<p>Real-time notifications and navigation provided by the Bluetooth in your phone and the Notify App, combined with Notify Beacons placed all over the event, lets attendees find sessions and exhibitors they are looking for. It also allows your guests to find those exhibitors they may otherwise have overlooked.</p>
	<p>This also benefits any exhibitors at your event who are looking to connect with new customers, and the opportunity to add location-specific promotions could be another revenue channel for your event from sponsors.</p>
	<p>With Notify our beacons can be programmed to notify users as they approach an exhibitor and take them to a promotional web page on our Notify server.  These promotional pages are configurable ahead of the event to allow exhibitors an advertising space linked directly to the Notify App.</p>
</div>
<div class="mb-4">
	<h3>Networking</h3>
	<p>Want to know who is at your event and who you should be talking to? Notify can aid your event networking pursuits through its secure and media rich messaging feature. Notify connected with a social media style chat stream give attendees the ability to locate and meet with other like-minded attendees and plan out more meaningful networking opportunities as well as ask exhibitors questions directly.</p>
</div>
<div class="mb-4">
	<h3>Note taking</h3>
	<p>Want to remember key points from your day to review later.  Then use the notes tab to add in pictures and text for an exhibitor to help keep the memories fresh.</p>
</div>
<div class="mb-4">
	<h3>Schedule</h3>
	<p>Keep track of events or key speeches you wish to attend by adding items from the event organisers Itinery and get notifications to prevent you from missing those key moments.</p>
</div> -->