<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
	<!-- <h5 class="my-0 mr-md-auto font-weight-normal">Notify</h5> -->

		<%= image_tag "logo_small.png", class: "header-logo my-0 mr-md-auto" %>

		<nav class="my-2 my-md-0 mr-md-3">
			<!-- <a class="p-2 text-dark" href="#">Features</a> -->
			<!-- <a class="p-2 text-dark" href="#">About</a> -->
			<!-- <a class="p-2 text-dark" href="#">Support</a> -->
			<!-- <a class="p-2 text-dark" href="#">Contact</a> -->
		</nav>

		<% if user_signed_in? %>
			<%= link_to "Sign out", sign_out_path, class: "btn btn-sign_in" %>
		<% else %>
			<%= link_to "Sign in", sign_in_path, class: "btn btn-sign_in" %>
		<% end %>

</div>